# Ignore raw data but keep DVC metadata
data/*
!data/*.dvc
!data/.gitignore

# Ignore common unnecessary folders
__pycache__/
.venv/
*.log
# Ignore general lock files but keep DVC lock
*.lock
!dvc.lock
*.tmp

# Ignore MLflow artifacts
mlruns/
reports/

# Ignore VS Code files
.vscode/
